music_directory     "{{ mpd_music_directory }}"
playlist_directory  "{{ mpd_playlist_directory }}"
{% if mpd_db_file is defined %}
db_file             "{{ mpd_db_file }}"
{% endif %}
log_file            "{{ mpd_log_file }}"
pid_file            "{{ mpd_pid_file }}"
state_file          "{{ mpd_state_file }}"
sticker_file        "{{ mpd_sticker_file }}"

user                "{{ mpd_user }}"
group               "{{ mpd_group }}"
{% if mpd_bind_address is defined %}
{% for addr in mpd_bind_address %}
bind_to_address     "{{ addr }}"
{% endfor %}
{% endif %}
port                "{{ mpd_port }}"
log_level           "default"

audio_buffer_size   "{{ mpd_audio_buffer_size }}"

zeroconf_enabled    "{{ mpd_zeroconf_enabled }}"
zeroconf_name       "{{ mpd_zeroconf_name }}"

input {
  plugin "curl"
}

{% if mpd_databases is defined %}
{% for data in mpd_databases %}
database {
{% for name, value in data.items() %}
    {{ name }} "{{ value }}"
{% endfor %}
}

{% endfor %}
{% endif %}
{% if mpd_outputs is defined %}
{% for data in mpd_outputs %}
audio_output {
{% for name, value in data.items() %}
    {{ name }} "{{ value }}"
{% endfor %}
}

{% endfor %}
{% endif %}
